---
import ArtistCard from "@components/ArtistCard.astro";
import MainLayout from "@layouts/MainLayout.astro";

import artists from "../assets/artists.json";
---

<MainLayout title="Artistas">
  <section class="artists-page__intro">
    <h2 class="artists-page__title">Artistas</h2>
    <p class="artists-page__description">
      Aquí encontrarás toda la información que necesitás conocer sobre los
      Artistas que participaran el <span class="artists-page__highlight"
        >Fiesta del Sol 2025</span
      >
    </p>
  </section>
  <section class="artists-page__container-cards">
    {
      artists.groups.map((group) => (
        <ArtistCard
          name={group.name}
          url_image={group.url_image}
          members={group.members}
          summary={group.summary}
          top_songs={group.top_songs}
        />
      ))
    }
  </section>
</MainLayout>
