---
const { name, url_image, members, summary, top_songs } = Astro.props;
---

<article class="artist-card">
  <h2 class="artist-card__title">{name}</h2>
  <section class="artist-card__body">
    <figure class="artist-card__figure">
      {
        url_image && (
          <img
            class="artist-card__image"
            src={url_image}
            alt={`Imagen de ${name}`}
          />
        )
      }
      <figcaption class="artist-card__caption">
        Foto promocional de {name}
      </figcaption>
    </figure>

    <h4 class="artist-card__section-title">Miembros</h4>
    {
      members && (
        <ul class="artist-card__member-list">
          {members.map((member) => (
            <li class="artist-card__member-item">
              <strong class="artist-card__member-name">{member.name}</strong> –{" "}
              <span class="artist-card__member-role">{member.role}</span>
            </li>
          ))}
        </ul>
      )
    }
  </section>
</article>

<style>
  .artist-card {
    display: flex;
    flex-direction: column;

    margin: 1rem;
    gap: 1rem;
    width: 60%;
    max-width: 60rem;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 0 8px 16px black;
  }

  .artist-card__title {
    background: none;
    color: black;
    border-bottom: 2px solid var(--bg-footer);
    border-radius: 0;
    font-size: 1.75rem;
    width: 100%;
    margin: 0;
  }

  .artist-card__figure {
    width: 100%;
    text-align: center;
  }

  .artist-card__image {
    width: 20rem;
    height: auto;
    margin: 0 auto;
    border-radius: 10% 30%;
  }

  .artist-card__caption {
    font-size: 0.875rem;
    color: #555;
    margin-top: 0.5rem;
  }

  .artist-card__section-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .artist-card__member-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .artist-card__member-item {
    margin-bottom: 0.5rem;
  }

  .artist-card__member-name {
    font-weight: bold;
  }

  .artist-card__member-role {
    font-style: italic;
  }
  @media and (max-width: 1200px) {
    .artist-card__image {
      width: 16rem;
    }
  }

  @media and (max-width: 992px) {
    .artist-card {
      width: 100%;
    }
    .artist-card__image {
      width: 12rem;
    }
  }

  @media screen and (max-width: 768px) {
    .artist-card {
      width: 100%;
    }
    .artist-card__image {
      width: 10rem;
    }
  }
</style>
